<div class="list">
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Profile-language Degree holder from university of Westminster, translated for both private and government sector for 3 year..</p>
  </a>
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man2.jpg">

    <h2>Sheila P.
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Interpret from any english dialect to french and german.</p>
  </a>
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man3.jpg">

    <h2>Sally D.
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Interpret from any english dialect to french and german.</p>
  </a>
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man4.jpg">

    <h2>Mark A.
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Interpret from any english dialect to french and german.</p>
  </a>
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man5.jpg">

    <h2>Brenda M.
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
  <a ui-sref="profile.profile-1" class="item item-thumbnail-left list-page-list item-text-wrap">
    <img src="./img/man6.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
</div>
