<ion-view title="Calling">
  <ion-content class="calling-bg" style="overflow: auto">
    <div class="calling-content">
      <div class="caller-img">
        <img src="./img/man2.jpg">
      </div>
      <p class="p-name">Mike John</p>

      <p class="p-calling">Calling...</p>

      <div class="round-btn">
        <button class="button button-energized icon ion-videocamera"></button>
        <button class="button button-energized icon ion-ios-mic"></button>
        <button class="button button-energized icon ion-volume-high"></button>
        <button class="button button-energized icon ion-ios-chatbubble"></button>
      </div>

      <button class="button button-assertive icon ion-ios-telephone hangup-btn"></button>

    </div>
  </ion-content>
</ion-view>
