<div class="list">
  <a class="item item-thumbnail-left search-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
  <a class="item item-thumbnail-left search-list item-text-wrap">
    <img src="./img/man2.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
  <a class="item item-thumbnail-left search-list item-text-wrap">
    <img src="./img/man3.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
  <a class="item item-thumbnail-left search-list item-text-wrap">
    <img src="./img/man4.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
  <a class="item item-thumbnail-left search-list item-text-wrap">
    <img src="./img/man5.jpg">

    <h2>Pretty Machine
      <i class="date">
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        35&#163;/H
      </i>
    </h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.</p>
  </a>
</div>
