<div class="list profile-detail" style="margin-bottom: 0 !important;">

  <div class="item row">
    <b class="col-50 profile-detail-key">Price</b>
    <b class="col-50">30&#163;/H</b>
  </div>

  <div class="item row">
    <b class="col-50 profile-detail-key">Country</b>
    <b class="col-50">England</b>
  </div>

  <div class="item row">
    <b class="col-50 profile-detail-key">Experience</b>
    <b class="col-50">3 Year</b>
  </div>

  <div class="item row">
    <b class="col-50 profile-detail-key">Level</b>
    <b class="col-50">Expert</b>
  </div>

</div>

<div class="certificate-box row">
  <div class="col-40">Certificate</div>
  <div class="col-60">
    <img src="./img/certificate.jpg">
    <img src="./img/certificate.jpg">
    <img src="./img/certificate.jpg">
  </div>
</div>

<div class="voice-box">
  <div class="voice-text">Voice Recording</div>

  <div class="profile-language">
    <a class="ion-play button icon-button icon-right"><span>English</span></a>
    <a class="ion-play button icon-button icon-right"><span>German</span></a>
    <a class="ion-play button icon-button icon-right"><span>Russian</span></a>
    <a class="ion-play button icon-button icon-right"><span>French</span></a>
  </div>

  <p class="lang-profile-detail">profile-language Degree holder from university of Westminster,
    translated for both private and government sector for 3 year.
  </p>

</div>





