<div class="list">
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man6.jpg">

    <h2>Maite P. <i class="date">11-6-2015</i></h2>

    <p>Kevin was a very professional interpreter, very clear voice and speaks in the right pace. I will use him again when needed.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man4.jpg">

    <h2>Brenda F. <i class="date">21-11-2015</i></h2>

    <p>Brenda was the first I used on this platform and I didn't regret the decision. Thanks.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man3.jpg">

    <h2>Mark S. <i class="date">01-12-2015</i></h2>

    <p>Top notch interpreter. Will use again.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man2.jpg">

    <h2>Lamine B. <i class="date">03-12-2015</i></h2>

    <p>Very helpful server. Thanks
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man5.jpg">

    <h2>Sally P. <i class="date">15-12-2015</i></h2>

    <p>Amazing job, Highly recommended.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man6.jpg">

    <h2>Maite P. <i class="date">22-12-2015</i></h2>

    <p>Amazing service.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
</div>
