<ion-view title="Rating">
  <ion-content class="has-bouncing" style="overflow: auto">

    <div class="review-had">
      <div class="review-img-box">
        <img src="./img/man.jpg">
      </div>
      <br>

      <p>Kevin</p>
    </div>

    <div class="review-body">
      <h1>&#163;30</h1>

      <p>RATE YOUR EXPERIENCE</p>
      <rating ng-model="rate" max="max"></rating>
      <input type="text" placeholder="Comment">
      <button class="button button-assertive">SUBMIT</button>
    </div>

  </ion-content>
</ion-view>
