<ion-view title="Call">
  <ion-content style="overflow: auto">

    <div class="call-header">
      <div class="caller-option-box">
        <div class="call-option">
          <span>04:35:12</span>
          <a class="icon ion-videocamera"></a>
          <a class="icon ion-ios-mic"></a>

          <div class="icon ion-ios-telephone" ui-sref="review"></div>
        </div>
      </div>
      <div class="caller-img-box">
        <img src="./img/man.jpg">
      </div>
    </div>

    <div class="call-body">
      <div class="row me">
        <div class="col-80">
          <div class="card">
            Lorem ipsum dolor sit amet, consectetur Atque dolor fugiat maxime perferendis veniam. Blanditiis dolor
            dolorum ei ibusdam suscipit! Amet rerum?
          </div>
        </div>
        <div class="col-20">
          <div class="card">
            <img src="./img/man.jpg">
          </div>
        </div>
      </div>
      <div class="row you">
        <div class="col-20">
          <div class="card">
            <img src="./img/man.jpg">
          </div>
        </div>
        <div class="col-80">
          <div class="card">
            Lorem ipsum dolor sit amet facere iste maiores modi
          </div>
        </div>
      </div>
      <div class="row you">
        <div class="col-20">
          <div class="card">
            <img src="./img/man.jpg">
          </div>
        </div>
        <div class="col-80">
          <div class="card">
            Lorem ipsum dolor sit amet facere iste maiores modi
            Lorem ipsum dolor sit amet facere iste maiores modi
          </div>
        </div>
      </div>
      <div class="row me">
        <div class="col-80">
          <div class="card">
            Lorem ipsum dolor sit
          </div>
        </div>
        <div class="col-20">
          <div class="card">
            <img src="./img/man.jpg">
          </div>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar align-title="left" class="item-input-inset bar-positive">
    <button class="button button-icon icon ion-ios-camera-outline"></button>
    <label class="item-input-wrapper">
      <input type="search" placeholder="Message">
    </label>
    <button class="button button-clear">Send</button>
  </ion-footer-bar>

</ion-view>
