<ion-view title="Login-1">
  <ion-content class="login-1">

    <div class="login-1-data-content">
      <img src="./img/icon1.png">
      <br>
      <img class="img-2" src="./img/icon2.png">

      <p style="position: relative;color: #fff">Interpretation made easy</p>
      <span>
        Find an interpreter available to interpret <br>
        Whenever and wherever you need one. <br>
        Any language, any dialect.
      </span>

      <div class="button-bar">
        <a class="button button-positive login-btn" ui-sref="login-2">LOGIN</a>
        <a class="button sign-btn" ui-sref="signup">SIGN UP</a>
      </div>

      <span class="span-2">Are you interpreter? <a ui-sref="signup">Start Here</a></span>

    </div>

  </ion-content>
</ion-view>
