<ion-view title="login-2">
  <ion-content class="login-2">

    <div class="login-2-data-content">
      <img src="./img/icon1.png">

      <div class="login-2-full-input-2">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Password">
      </div>
      <p class="login-2-forgot-password">
        <a href="">Forgot Password?</a>
      </p>

      <div class="fb-btn">
        <button class="button button-positive button-block">LOGIN</button>
        <button class="button icon-button icon-left ion-social-facebook button-calm button-block">LOGIN WITH FACEBOOK
        </button>
      </div>
      <p class="new-user">New User? <a ui-sref="signup">Sign Up</a></p>
      <span class="span-2">Are you interpreter? <a ui-sref="signup">Start Here</a></span>
    </div>

  </ion-content>
</ion-view>
