<ion-view title="Payment Method">
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">Payment Method</h1>
  </ion-header-bar>
  <ion-content class="has-bouncing has-header " style="overflow: auto">

    <div class="payment-header">
      CREDIT CARD INFO <br><br>

      <div class="row">
        <div class="col master-img">
          <img src="./img/MasterCard_Logo.svg.png">
        </div>
        <div class="col visa-img">
          <img src="./img/4469_3595_visa_2014_transparent.png">
        </div>
      </div>
    </div>


    <div class="list list-inset payment-list-item">

      <div class="item row">
        <div class="col-50 list-detail-key">Card Number</div>
        <div class="col-50 list-detail-value">086 4567 6542 4444</div>
      </div>

      <div class="item row">
        <div class="col-50 list-detail-key">Card Holder Name</div>
        <div class="col-50 list-detail-value">Muhammad Mavia</div>
      </div>

      <div class="item row">
        <div class="col-25 list-detail-key">Exp.Date</div>
        <div class="col-20 list-detail-value">06/16</div>
        <div class="col-10"></div>
        <div class="col-20 list-detail-key">CVV</div>
        <div class="col-25 list-detail-value">321</div>
      </div>

      <button class="button button-positive">
        FINISH ORDER
      </button>

      <span class="norton-logo">
        <span>I agree to Health Tap's <a href="">Terms</a> and <a href="">Privacy Policy</a>
          <br>
          Secure Server( <a href="">Tell me more</a>)
        </span>
        <br>
        <img src="./img/norton.png">
      </span>


    </div>
  </ion-content>
</ion-view>
