<div class="list">
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
  <a class="item item-thumbnail-left profile-2-list item-text-wrap">
    <img src="./img/man.jpg">

    <h2>Pretty Hate Machine <i class="date">11-6-2015</i></h2>

    <p>Lorem do Asperiores at, consequatur consequuntur doloremque.
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
      <i class="icon ion-star"></i>
    </p>
  </a>
</div>
