<ion-view title="sign-up-temp">
  <ion-content class="sign-up-temp" style="overflow: auto">
    <div class="sign-data-content">
      <img src="./img/icon1.png">

      <div class="sign-full-input-3">
        <div class="ion-list">
          <label class="item item-input">
            <i class="icon ion-ios-person-outline sign-placeholder-icon"></i>
            <input type="text" placeholder="Username">
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-email-outline sign-placeholder-icon"></i>
            <input type="email" placeholder="E-mail">
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-locked-outline sign-placeholder-icon"></i>
            <input type="password" placeholder="Password">
          </label>
        </div>
      </div>


      <div class="sign-profile-pic">
        <a>Your picture (Optional)</a>
        <b class="button button-icon icon ion-camera"></b>
      </div>

      <div class="sign-up-btn-1">
        <button class="button button-positive">SIGN UP</button>
      </div>

      <div class="sign-bottom-btn">
        <span>Have are account</span>
        <button class="button button-small button-outline" ui-sref="login-1">LOGIN</button>
      </div>

    </div>

  </ion-content>
</ion-view>
